#LogoText{
    margin-left: 10dvh;
    margin-top: 2dvh;
}
#MainText{
    font-size: 4vh;
    text-align: center;
    margin-top: 12dvh;
    color: black;
}
#MainInput{
    width: 60vh;
    height: auto;
    font-size: 3vh;
    padding: 2vh;
    margin-top: 5vh;
    border-radius: 15px;
}
#OtherTitle{
    color: gray;
    margin-left: 10vh;
    margin-top: 15vh;
}
#FirstDiv{
    display: flex;
    justify-content: space-between;
}
#IconDiv{
    width: 25%;
    margin-right: 10dvh;
    margin-top: 2dvh;
    display: flex;
    justify-content: space-around;
}
#AccountIcon{
    font-size: 5vh;
}
#ModeIcon{
    font-size: 5vh;
}
#TranslateIcon{
    font-size: 5vh;
}
#CardDiv{
    width: 50%;
    padding: 2dvh;
    word-break: break-all;
    border: solid 1px black;
    border-radius: 15px;
    margin-left: 50vh;
    margin-top: 5vh;
}
#CardBox{
    width: 100%;
    margin-top: 7vh;
    margin-bottom: 5vh;
}
#CardName{
    font-size: large;
    text-align: left;
}
#CardValue{
    
    font-size: xx-large;
    text-align: left;
    margin-top: 3vh;
}
#CardDayTime{
    font-size: medium;
    text-align: right;
    color: gray;
}
#ExploreIcon{
    font-size: 5vh;
}
#SearchIcon{
    font-size: 5vh;
}
#UploadButton{
    height: auto;
    font-size: 3vh;
    padding: 2vh;
    margin-left: 2vh;
    border-radius: 15px;
    background-color: white;
}
#LinkColor{
    color: black;
}
#save{
    text-align: center;
    color: gray;
    font-size: small;
    margin-top: 2vh;
}